@font-face{
	font-family: "Quite Chocolatey";
	src: url("../fonts/Quite_Chocolatey.eot");
	src: url("../fonts/Quite_Chocolatey.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Quite_Chocolatey.woff") format("woff"),
	url("../fonts/Quite_Chocolatey.ttf") format("truetype"),
	url('../fonts/Quite_Chocolatey.svg#Quite_Chocolatey') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "COUTURE-Bold";
	src: url("../fonts/COUTURE-Bold.eot");
	src: url("../fonts/COUTURE-Bold.eot?#iefix")format("embedded-opentype")
	url("../fonts/COUTURE-Bold.woff") format("woff"),
	url("../fonts/COUTURE-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
